:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

div.root {
	height: 100vh;
	display: grid;
	grid-template-rows: 15% 1fr;
}

header {
	display: flex;
	justify-content: center;
	background-color: rgb(75, 75, 224);
}

header h1 {
	text-justify: center;
	margin: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8rem;
	margin: 2rem 8rem;
}

main > div {
	border: 4px solid black;
	min-height: 90vh;
	min-width: 500px;
	max-width: 750px;
}

.template {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 2rem;
}

.general-info span {
	margin-bottom: 1rem;
}

button {
	appearance: none;
	border: none;

	color: white;
	background-color: rgba(20, 20, 20, 0.87);

	max-width: fit-content;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

button:hover {
	background-color: rgba(40, 40, 40, 0.87);
}

li {
	list-style: none;
	display: flex;
	margin-bottom: 2rem;
}

.template span {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: larger;
	font-weight: 700;
}

form {
	appearance: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

input {
	appearance: none;
	border: none;
	background-color: rgba(80, 80, 80, 0.6);
	border-radius: 0.5rem;
	padding: 0.25rem;
	color: white;
}

.preview {
	display: grid;
	grid-template-rows: 20% 1fr 1fr;
}

.preview .general-info {
	background-color: rgb(75, 75, 224);
	color: white;

	display: grid;
	grid-template-rows: 1fr 1fr;
	place-items: center;
}

.preview .general-info div {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;
}

.preview .education h2 {
	background-color: grey;
	margin: 1rem;
	text-align: center;
}

.preview .education ul {
	padding: 0 1rem;
}

.preview .education li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 50%;
	padding: 0 3rem;
}

.education li h3 {
	margin: 0;
}
